backtitle="My league"
rsyncd_host="RSYNC_IP_SERVER"
rsyncd_module="OPEN_MODULE"
rsyncd_password_needed="false"
enable_menu_join="false"
enable_menu_addons="false"
enable_menu_tools="false"
enable_menu_rfe="false"
enable_menu_realfeel="false"
